.hidden {
  display: none;
}

.container {
  width: 1000px;
  margin: auto;
  text-align: center;
}

form div {
  margin-bottom: 20px;
}

table {
  margin: auto;
  width: 100%;
  text-align: left;

  /* line-height: 2rem; */
}

tr {
  height: 2rem;
  margin: 0;
}

td,
th {
  border: 0.5px solid gray;
  margin: 0;
}

.actions {
  width: 40%;
}

tbody tr:nth-child(odd) {
  background-color: rgb(190, 188, 188);
}

thead {
  background-color: white;
}

.row {
  display: flex;
}

button {
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: gray;
  border: none;
}

.confirmation {
  justify-content: space-between;
}

.confirm {
  background-color: green;
}

textarea {
  height: 100px;
  border-radius: 5px;
}

dialog select {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
}

label {
  text-align: left;
}

.dialog {
  text-align: left;
}

.edit {
  background-color: blue;
}

.delete {
  background-color: red;
}
